
<!-- employee.latitude = rsult of JS functon
emplppoyee.longitude = result of JS function
set the employee lognitdue to what is returned from the function> -->

<%= content_for(:qr) do %>
  <%= javascript_pack_tag "qr" %>
<% end %>
<div class="container-view">
  <div class="container-header">
    <h2>Employee dashboard</h2>
    <div class="container-card">
      <h3>Scanning tool</h3>

      <div style="text-align:center">
        <button id="scan-qr" class='btn btn-primary btn-sm'> Click to scan! </button>
        <div class="qr-content" hidden>
          <div id="loadingMessage" hidden="">⌛ Loading video...</div>
          <canvas id="canvas"></canvas>
          <div id="output">
            <div id="outputMessage">No QR code detected.</div>
            <div hidden=""><b>Data:</b> <span id="outputData"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="order-container"class="container-card">
      <div class="order-picture"></div>
      <h3>Order information</h3>
      <div id="order-information">
        <div class="order-details">
          <p>Name:</p><div class="font-bold qr-name"></div>
        </div>
        <div class="order-details">
          <p>Order Quantity:</p><div class="font-bold qr-quantity"></div>
        </div>
        <div class="order-details">
          <p>Meal Date:</p><div class="font-bold qr-date"></div>
        </div>
        <div class="order-details">
          <p>Meal:</p><div class="font-bold qr-meal"></div>
        </div>
      </div>
    </div>
      <div class="container-card">
      <h3>Inventory</h3>
      <div>
        <div class="inventory-holder">
          <p>Total inventory:</p>
          <div>
            <% if @employee.inventory.nil? %>
              <p class="inventory-layout inventory-indicator">0</p>
            <% else %>
              <p class="inventory-layout inventory-indicator"><%= @employee.inventory %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-card" style="text-align:center">
      <a onclick="window.watchId = geoFindMe('<%= current_user.employee.id %>')">Start shift</a>
      <!-- <a onclick="navigator.geolocation.clearWatch(window.watchId); stopGeoLocation('<%= current_user.employee.id %>')">End shift</a> -->
      <a id="end-shift">End shift</a>
      <div id="coordinates">Start shift to track location</div>
    </div>
  </div>
</div>

<% if current_user.employee? %>
  <%= javascript_pack_tag 'locate_delivery_person' %>
  <script>
    function endShift() {
      navigator.geolocation.clearWatch(window.watchId);
      stopGeoLocation('<%= current_user.employee.id %>');
      document.getElementById("coordinates").innerHTML = 'Stopped tracking location at ' + new Date().toLocaleTimeString();
    }
    document.getElementById("end-shift").addEventListener("click", endShift);
  </script>
<% end %>
