<div class="container">
<h3>Customer database</h3>
  <% @customers.each do |customer| %>
  <div data-customer-id="<%= customer.id %>">
      <div class="message">
        <div>
          <% if customer.photo.blank? %>
            <%= image_tag 'http://www.travelcontinuously.com/wp-content/uploads/2018/04/empty-avatar.png', class: "avatar-bordered"%>
          <% else %>
            <%= cl_image_tag customer.photo, crop: :fill, class: "avatar-bordered" %>
          <% end %>
        </div>
        <div class="message-name">
          <h3><%= link_to customer.user.first_name + ' ' + customer.user.last_name, customer_path(customer)%></h3>
          <% if customer.user.employee.nil? %>
            <p><strong>Customer</strong></p>
          <% else %>
            <p><strong>Employee</strong></p>
          <% end %>
        </div>
        <div class="message-body">
          <p class="message-signup"><strong>signed up on:</strong></p>
          <p><%= customer.created_at.to_date %></p>
        </div>
        <div class="message-status">
          <div>
            <% if customer.user.employee.nil? %>
              <div class="">
                <%= link_to customer_employees_path(customer), remote: true, method: :post do %>
                  <%= image_tag "employee-black.png", height: 20 %>
                <% end %>
              </div>
            <% else %>
              <div data-employee-id ='<%= customer.user.employee.id %>'>
                <%= link_to employee_path(customer.user.employee), remote: true, method: :delete do %>
                  <%= image_tag "employee-red.png", height: 20 %>
                <% end %>
              </div>
            <% end %>
            </div>
          <div>
            <%= link_to customer_path(customer), method: :delete, remote: true do %>
              <%= image_tag "bin-black.png", height: 20 %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>




