<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,200,0.5) 0%, rgba(0,36,61,0.5) 50%), url('https://images.pexels.com/photos/745045/pexels-photo-745045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Keetchen</h1>
    <p id="slogan">The fastest, cheapest and tastiest way to eat at UCL</p>
    <%= link_to("Grab Lunch", meal_dates_path , class: "btn btn-primary btn-lg btn-red", id: "banner-btn") %>
  </div>
</div>

<div class="card-container">
  <div class="container">
    <div class="row" id="meal-cards">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/5916/food-salad-healthy-colorful.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-category">Yesterday</div>
          <div class="card-description">
            <h2>Spinach Salad</h2>
            <p>Spicy - Nut-free</p>
          </div>
          <div class="card-stars">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="far fa-star"></span>
          </div>
                    <%= link_to("",meal_dates_path, class: "card-link") %>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-today" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/1256875/pexels-photo-1256875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-category">Today</div>
          <div class="card-description">
            <h2>Tagliatelle al pesto</h2>
            <p>Vegetarian - Vegan</p>
          </div>
          <div class="card-stars">
              <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
          </div>
          <%= link_to("",meal_dates_path, class: "card-link") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/699953/pexels-photo-699953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-category">Tomorrow</div>
          <div class="card-description">
            <h2>Asian Prawn Noodle</h2>
            <p>Spicy</p>
          </div>
          <div class="card-stars">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
          </div>
          <%= link_to("",meal_dates_path, {:class => "card-link", 'data-target' => "day2"})%>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="intro-text">
  <h2>Why Keetchen?</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "affordable.png",:size => "60x60" %>
        <h3>affordable</h3>
        <p>Enjoy affordable lunch from keetchen for only £4.5</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "convenient.png",:size => "60x60" %>
        <h3>convenient</h3>
        <p>Easy accessible on mobile. Locate Keetchen-runners in real-time</p>
      </div>
      <div class="col-xs-12 col-sm-3">
       <%= image_tag "healthy.png",:size => "60x60" %>
       <h3>healthy</h3>
       <p>Keetchen meals are prepared with the freshest produce</p>
     </div>
     <div class="col-xs-12 col-sm-3">
      <%= image_tag "variation.png",:size => "60x60" %>
      <h3>variated</h3>
      <p>Keetchen offers big variety of lunch every day</p>
    </div>
  </div>
</div>
</div>
</div>
<div class="banner-bottom" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.42) 50%), url('https://images.pexels.com/photos/5916/food-salad-healthy-colorful.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <%= link_to("Grab Lunch", meal_dates_path , class: "btn btn-primary btn-lg btn-red", id: "banner-btn") %>
  <div class="footer-links-index">
    <a href="https://github.com/KennyCuoq/Keetchen" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright-index">
   <p>Keetchen®</p>
 </div>
</div>
</div>

