<div class="row">
  <div class="col-xs-12">
    <div class="meal-card-photo-div">
      <h1 class="order-tab-content-<%= meal_date.id %>" data-id="<%= meal_date.id %>" id="map-<%= meal_date.id %>">Im a map</h1>
      <h1 class="order-tab-content-<%= meal_date.id  %>" id="qr-code-<%= meal_date.id %>" hidden>Im a QR code</h1>
      <img src="<%= meal.photo %>" data-id="<%= meal_date.id  %>" class="meal-card-photo order-tab-content-<%= meal_date.id  %>" id="meal-<%= meal_date.id  %>" hidden>

    </div>

  <div class="tabs">
    <a class="tab order-tab" data-id="<%= meal_date.id  %>" data-target="map-<%= meal_date.id %>">Map</a>
    <a class="tab order-tab" data-id="<%= meal_date.id  %>" data-target="qr-code-<%= meal_date.id  %>">QR code</a>
    <a class="tab order-tab" data-id="<%= meal_date.id  %>" data-target="meal-<%= meal_date.id  %>">Your meal</a>
  </div>





  </div>
  <div class="col-xs-12">
    <div class="pick-up-instructions">
      <p><strong>Find your closest Keetchen runner on the map and scan your QR code to collect your meal. Bon appétit!</strong></p>
    </div>
    <div class="meal-card-description">
      <div class="meal-name-price-group">
        <h3><%= meal.name %></h3>
        <%= render 'order_confirmed' %>
      </div>
      <p><%= meal.description %></p>
    </div>
  </div>
</div>
