<div class="container" id="meal-date-container">
  <div class="tabs-wrapper">
  <div class="tabs">
    <% count = 1 %>
    <% @meal_dates.each do |meal_date| %>
      <% date = meal_date.date %>
      <a class="date-tab tab <%= 'active' if date == Date.today %>" data-target="day<%= count %>">
      <h3><%= date.strftime('%a') %></h3>
      <p><%= date.strftime('%e') %></p>
      <% count+=1 %>
    </a>
    <% end %>
  </div>

  <% count = 1 %>

  <% @meal_dates.each do |meal_date| %>
    <% meal = meal_date.meal %>
    <div class="meal-card date-tab-content" id="day<%= count %>" <%= 'hidden' if count > 1 %>>
      <% count+=1 %>
      <% if !current_user.orders.where("meal_date_id = ?", meal_date).to_a.empty? %>
        <%= render 'meal_ordered', meal_date: meal_date, meal: meal, markers: @markers%>
      <% else %>
        <%= render 'meal_non_ordered', meal_date: meal_date, meal: meal %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<%= javascript_pack_tag 'meal_dates_index' %>

<% content_for :after_js do %>

  <script id="order-picked-up" type="text/html">
    <div class='container-checked'>
      <%= image_tag "checked.png", class: "logo-checked" %>
      <p><strong>You have picked up your order</strong></p>
      <%= link_to "Rate meal", my_orders_customer_path(current_user.customer.id), class: 'btn btn-primary btn-sm' %>
    </div>
  </script>

  <script>
    App.cable.subscriptions.create (
      {channel:"UpdatesChannel",  user_id: <%= current_user.id %> },
      {received: (data) => {
        const mealDateId = data['meal_date_id']
        const mealDateQR = document.getElementById(`qr-code-${mealDateId}`)
        mealDateQR.innerHTML = document.getElementById('order-picked-up').innerHTML
        const orderStatus = document.getElementById(`order-status-${mealDateId}`);
        orderStatus.classList.remove("btn-order-status");
        orderStatus.classList.add("btn-order-status-green");
        orderStatus.innerHTML = "Picked up";
      }
    })
  </script>

  <script>
    App.cable.subscriptions.create (
      {channel:"EmployeesDetailsChannel"},
      {received: (data) => {

        const employeeId = data['employee_id'];
        let marker = map.markers.find(marker => marker.employee_id == employeeId)
        if (marker) {
          marker.setLngLat([data.lng, data.lat]);
          const windowContent = marker._popup._content.querySelector(`#employee-${employeeId}-info`)
          windowContent.innerHTML = data['infoWindow'];
        }

        console.log(map);


        // var marker = new mapboxgl.Marker().addTo(map);
        // marker.remove();
        // map.
        // console.log(windowContent);
        // if (marker) {
        //   marker.setLngLat([data.lng, data.lat])
        //   .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        //   .setHTML(data['infoWindow']))
        //   .addTo(map);
        // }


        // console.log(employeeId);
        // console.log(typeof employeeId);
        // const employeePin = document.getElementById('employee-155-inventory');
        // console.log(employeePin);

      }
      })
  </script>
<% end %>
