<div class="container">
  <div
  id="map-runners"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

  <div class="tabs-wrapper">
  <div class="tabs">
    <% count = 1 %>
    <% @meal_dates.each do |meal_date| %>
      <% date = meal_date.date %>
      <a class="date-tab tab <%= 'active' if date == Date.today %>" data-target="day<%= count %>">
      <h3><%= date.strftime('%a') %></h3>
      <p><%= date.strftime('%e') %></p>
      <% count+=1 %>
    </a>
    <% end %>
  </div>

  <% count = 1 %>

  <% @meal_dates.each do |meal_date| %>
    <% meal = meal_date.meal %>
    <div class="meal-card date-tab-content" id="day<%= count %>" <%= 'hidden' if count > 1 %>>
      <% count+=1 %>
      <% if !current_user.orders.where("meal_date_id = ?", meal_date).to_a.empty? %>
        <%= render 'meal_ordered', meal_date: meal_date, meal: meal %>
      <% else %>
        <%= render 'meal_non_ordered', meal_date: meal_date, meal: meal %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<!--
<style>
  @media (max-width: 400px) {
    .ma-gueule {
      width: %;
    }
  }
</style> -->

<%= javascript_pack_tag 'meal_dates_index' %>
