<div class="container">
  <div class="tabs-wrapper" style="background: white">
  <div class="tabs">
    <% count = 1 %>
    <% @meal_dates.each do |meal_date| %>
      <% date = meal_date.date %>
      <a class="tab <%= 'active' if date == Date.today %>" data-target="day<%= count %>">
      <h3><%= date.strftime('%a') %></h3>
      <p><%= date.strftime('%e') %></p>
      <% count+=1 %>
    </a>
    <% end %>
  </div>

  <% count = 1 %>
  <% @meal_dates.each do |meal_date| %>
    <% meal = meal_date.meal %>
    <div class="meal-card tab-content" id="day<%= count %>" <%= 'hidden' if count > 1 %>>
      <% count+=1 %>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="meal-card-photo-div-wrapper">
            <div class="meal-card-photo-div">
              <img src="<%= meal.photo %>" class="meal-card-photo">
              <%= render 'order_button', meal_date: meal_date %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="meal-card-description">
            <div class="meal-name-price-group">
              <h3><%= meal.name %></h3>
              <%= render 'set_price', meal_date: meal_date, meal: meal %>
            </div>
            <p><%= meal.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<!--
<style>
  @media (max-width: 400px) {
    .ma-gueule {
      width: %;
    }
  }
</style> -->

<%= javascript_pack_tag 'meal_dates_index' %>
