<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Keetchen</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

   <%= render 'shared/flashes' %>

    <% if action_name == "home" %>
    <%= render 'shared/navbarIndex' %>
    <% else%>
    <%= render 'shared/navbar' %>
    <% end %>




    <%= yield %>
      <% if action_name == "home" %>
      <%= render 'shared/footerindex' %>
      <% else%>
      <%= render 'shared/footer' %>
      <% end %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Is this a hundred percent necessary to have that here below? -->
    <%= javascript_pack_tag "map" %>
    <%= yield(:after_js) %>
    <%= yield(:qr) %>
  </body>
</html>
